# Binaries
/app
/router
/simulator
/app_server
/router_server
/cmd/simulator/simulator
/cmd/app/app
/cmd/router/router
*.exe
*.exe~
*.dll
*.so
*.dylib

# Logs
*.log

# OS metadata
.DS_Store
.DS_Store?
*~
lh.html
